<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Student grades</title>

        <!--  Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Athiti&family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">

        <!--  Styles  -->
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
    </head>

    <body>
        <div class="main-container">
            <div id="subject-container" class="gcontent">
                <div class="input-container">
                    <div>
                        <h2>ERROR</h2>
                        <!--  Content is passed through Go server  -->
                        <h4>%s</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

