<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Student grades</title>

        <!--  Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Athiti&family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">

        <!--  Styles  -->
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
    </head>

    <body>
        <div class="main-container">
            <div id="subject-container" class="gcontent">
                <div class="input-section">
                    <div>
                        <h2>Agregar materia</h2>
                    </div>
                    <div>
                        <form action="/add-subject" method="POST">
                            <div class="input-text">
                                <input type="text" name="subject-input" id="">
                            </div>
                            <div>
                                <input class="submit-btn" type="submit" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="student-container" class="gcontent">
                <div class="input-section">
                    <div>
                        <h2>Agregar calificación</h2>
                    </div>
                    <div>
                        <form action="/add-grade" method="POST">
                            <div class="input-text">
                                <label for="">Materia</label>
                                <input type="text" name="subject-input2" id="">
                            </div>
                            <div class="input-text">
                                <label for="">Estudiante</label>
                                <input type="text" name="student-input" id="">
                            </div>
                            <div class="input-text">
                                <label for="">Calificación</label>
                                <input type="text" name="grade-input" id="">
                            </div>
                            <div id="submit-student">
                                <input class="submit-btn" type="submit" value="Registrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns-container">
            <div class="gbtns-content">
                <div>
                    <form action="/student-grade" method="GET">
                        <input type="submit" value="Promedio Alumno">
                    </form>
                </div>
                <div>
                    <form action="/subject-grade" method="GET">
                        <input type="submit" value="Promedio Materia">
                    </form>
                </div>
                <div>
                    <form action="/general-grade" method="GET">
                        <input type="submit" value="Promedio General">
                    </form>
                </div>
            </div>
            <div class="see-all-btn-content">
                <div>
                    <form action="/show-all" method="GET">
                        <input type="submit" value="Ver todo lo registrado">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

