<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Student grades</title>

        <!--  Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Athiti&family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">

        <!--  Styles  -->
        <link rel="stylesheet" type="text/css" href="/styles/subject_grade.css">
    </head>

    <body>
        <div class="main-container">
            <div id="subject-container" class="gcontent">
                <div class="input-section">
                    <div id="subject-label">
                        <form action="" method="POST" id="mainForm">    
                            <label for="">Materia</label>
                            <input type="text" name="subject-input">
                        </form>
                    </div>
                    <div id="button-subject">
                        <button onclick="sendRequest()">Calcular</button>
                    </div>
                </div>
            </div>
            <div class="response-container gcontent">
                <p id="response-text">Promedio: 0.0</p>
            </div>
        </div>
        <script>
            function sendRequest() {
                http_request = false;

                var form = document.getElementById("mainForm");
                const FD  = new FormData(form);

                if (window.XMLHttpRequest) { // Mozilla, Safari,...
                    http_request = new XMLHttpRequest();
                    if (http_request.overrideMimeType) {
                        http_request.overrideMimeType('text/xml');
                    }
                } 
                else if (window.ActiveXObject) { // IE
                    try {
                        http_request = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        try {
                            http_request = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) {}
                    }
                }

                if (!http_request) {
                    alert('Falla :( No es posible crear una instancia XMLHTTP');
                    return false;
                }

                http_request.onreadystatechange = function(){

                    if (http_request.readyState == 4) {
                        if (http_request.status == 200) {
                            console.log("[DEBUG]    Receives...", http_request.responseText);
                            try {
                                var json = JSON.parse(http_request.responseText);
                                var p = document.getElementById("response-text");
                                console.log(json);

                                p.textContent = "Promedio: " + json.Data.toString();
                            } catch (error) {
                                console.error("[DEBUG]  Received text isn't JSON!");
                            }
                        }
                    }
                };
                for (var p of FD) {
                    console.log(p);
                }
                http_request.open('POST', "http://localhost:9000/subject-grade/compute", true);
                http_request.send(FD);
            }
        </script>
    </body>
</html>

